<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
        <script language="javascript" src="public/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="public/styles.css">        
    </head>        
    <body ng-app="myApp" ng-controller="apiTester">
        <h1>Quick API Tester</h1>
        <hr/>
        <div>
            <div ng-repeat="endpoint in config.endpoints"  class='endpoint'>
                <endpoint-header url="endpoint.url" method="endpoint.method" body="endpoint.body" description="endpoint.description" params="endpoint.params"></endpoint-header>
            </div>
        </div>
    </body>
</html>